{{- $text := .Get "text" | default "badge" -}}
{{- $color := .Get "color" | default "blue" -}}
{{- $logo := .Get "logo" -}}
{{- $logoColor := .Get "logoColor" | default "white" -}}
{{- $style := .Get "style" | default "for-the-badge" -}}
{{- $link := .Get "link" -}}

{{- $encodedText := $text | urlquery -}}

{{- $url := printf "https://img.shields.io/badge/%s-%s?style=%s" $encodedText $color $style -}}

{{- with $logo }}
  {{- $url = printf "%s&logo=%s" $url . -}}
{{- end }}

{{- with $logoColor }}
  {{- $url = printf "%s&logoColor=%s" $url . -}}
{{- end }}

{{- if $link }}
<a href="{{ $link }}" target="_blank" rel="noopener noreferrer" style="display:inline-block; margin-right:10px;">
{{- else }}
<span style="display:inline-block; margin-right: 5px;">
{{- end }}

<img src="{{ $url }}" alt="{{ $text }}" style="display:block; border:2px solid white; border-radius:10px;" />

{{- if $link }}
</a>
{{- else }}
</span>
{{- end }}